{{template "base" .}}

{{define "content"}}
<div class="layui-main">
    
    <div class="layui-card-body layui-table-body layui-table-main">
      <table class="layui-hide" id="menu" lay-filter="menu"></table>
    </div>
    <script type="text/html" id="toolbar">
        
        <div class="layui-btn-container">
          <button class="layui-btn layui-btn-sm" lay-event="reload"><i class="layui-icon layui-icon-refresh-3 layui-font-12"></i></button>
          <button id="btnExpandAll" class="layui-btn layui-btn-sm layui-btn-primary">
            <i class="layui-icon">&#xe668;</i>展开全部
          </button>
          <button id="btnFoldAll" class="layui-btn layui-btn-sm layui-btn-primary">
              <i class="layui-icon">&#xe66b;</i>折叠全部
          </button>
          <button class="layui-btn layui-btn-sm layui-bg-blue" lay-event="add">新增菜单<i class="layui-icon layui-icon-addition layui-font-12"></i></button>
        </div>
    </script>
    <script type="text/html" id="barAction">
      <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>  
    
</div>
{{end}}
{{define "content_script"}}
<script>
layui.config({
    //   base: '/js/'存放treeTable.js的文件夹
    base: '/assets/layui/js/'
}).use(['layer', 'util', 'laytpl','treeTable'], function () {
    //var table = layui.table
    //, form = layui.form;
    var $ = layui.jquery;
    var layer = layui.layer;
    var util = layui.util;
    var treeTable = layui.treeTable, form = layui.form;

    // 渲染表格
    var insTb = treeTable.render({
        elem: '#menu',
        url: '/menus/list',
        toolbar: '#toolbar',
        height: 'full-200',
        response: {
          statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
        },
        parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
          return {
            "code": res.code, //解析接口状态
            "msg": res.message, //解析提示文本
            "data": res.data //解析数据列表
          };
        },
        tree: {
            iconIndex: 2,
            isPidData: true,
            idName: 'id',//父ID
            pidName: 'parent_id',//子ID
            openName: 'open',// 是否默认展开的字段名
            //public bool open { get; set; }open字段是bool类型
        },
        defaultToolbar: ['filter', 'print', 'exports'],
        cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'id', title: 'ID', fixed: 'left', unresize: true, sort: true, hide: true }
                , { field: 'title', title: '菜单名称',}
                , { field: 'parent_id', title: '父ID', hide: true }
                , { field: 'sort', title: '菜单排序',edit: 'text' }
                , {fixed: 'right', title:'操作', width: 125, minWidth: 125, toolbar: '#barAction'}
        ]],
        style: 'margin-top:0;'
    });

  
    //监听行工具事件
    treeTable.on('tool(menu)', function (obj) {
        var data = obj.data;
        //console.log(obj)
        if (obj.event === 'del') {
          layer.confirm('真的删除么', function(index){
            ajaxSubmit("/menus/delete/"+data.id, {}, "/menus/", "DELETE")
            layer.close(index);
          });
            
        } else if (obj.event === 'edit') {
            // //xadmin.open('修改用户', '/User/UserUpd?id=' + data['id'], 600, 400);//flag=edit&id=
            // layer.open({
            //     type: 2,
            //     title: "修改菜单",
            //     shadeClose: true,
            //     shade: 0.5,
            //     area: ['600px', '600px'],
            //     content: ['/menu/menuOper?flag=edit&id=' + data['id'], 'no'],
            //     //end: function () { location.reload(); }
            // })
            setTimeout(window.location.href = '/menus/update?id='+data.id, 500);
        }
    });
    // 工具栏事件
    treeTable.on('toolbar(menu)', function(obj){
      switch(obj.event){
        case 'reload':
        treeTable.reload('menu', {
              where: {
              }
          });
        break;
        case 'add':
          setTimeout(window.location.href = '/menus/create', 500);
        break;
      };
    });
    treeTable.on('edit(menu)', function(obj){ //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
      ajaxSubmit("/menus/update-sort", {id: obj.data.id, sort: obj.value}, "/menus/", "POST")
    });
    // 全部展开
    $('#btnExpandAll').click(function () {
        insTb.expandAll();
    });

    // 全部折叠
    $('#btnFoldAll').click(function () {
        insTb.foldAll();
    });
});
</script>
{{end}}

