.mt-10 {
    margin-top:10px
}

.layui-body .layui-main{
    margin: 15px;
    padding-bottom: 44px;
}

.layui-elem-quote-error {
    border-left: 5px solid #f73e03 !important;
}

.layui-elem-quote-warn {
    border-left: 5px solid #ffb800 !important;
}

.layui-elem-quote {
    display: flex;
    position: relative;
}

.layui-elem-quote .layui-icon {
    position: absolute;
    right: 10px;
}