
{{ define "message"}}
<div id="message-section">
<div id="error" style="display: none;">
    <blockquote class="layui-elem-quote layui-elem-quote-error">
        <div class="message"></div>
        <i class="layui-icon layui-icon-close"></i>
    </blockquote>
</div>
<div id="success" style="display: none;">
    <blockquote class="layui-elem-quote">引用区域的文字</blockquote>
</div>
<div id="warn" style="display: none;">
    <blockquote class="layui-elem-quote layui-elem-quote-warn">引用区域的文字</blockquote>
</div>
</div>
{{end}}