{{template "base" .}}

{{define "content"}}
<div class="layui-main">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>修改订单</legend>
    </fieldset>
    {{template "message" .}}
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">订单号</label>
            <div class="layui-input-block">
                <input type="hidden" name="id" lay-verify="required"  placeholder="请输入" autocomplete="off" class="layui-input" value="{{.data.orderInfo.ID}}">
                <input type="text" name="order_no" lay-verify="required|min:6" lay-reqtext="订单号是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input" value="{{.data.orderInfo.OrderNo}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订单商品</label>
            <div class="layui-upload layui-input-block ">
                <button type="button" class="layui-btn layui-btn-normal" id="addProductList">新增商品</button> 
                <div class="layui-upload-list" style="max-width: 1000px;">
                    <table class="layui-table">
                    <colgroup>
                        <col>
                        <col width="150">
                        <col width="150">
                        <col width="150">
                        <col width="150">
                    </colgroup>
                    <thead>
                        <tr><th>商品图</th>
                        <th>商品名</th>
                        <th>商品sku</th>
                        <th>属性</th>
                        <th>操作</th>
                    </tr></thead>
                    <tbody id="productList"></tbody>
                    {{range $p:= .data.orderInfo.OrderProducts}}
                    <tr id="upload-{{$p.ID}}">
                        <td  class="laytable-cell-space"><img src="{{$p.Images | getImagesUrl}}" alt="file.name" class="layui-upload-img product_image_{{$p.ID}}"><button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button><input type="hidden" name="product[{{$p.ID}}][image]" id="product-{{$p.ID}}-image" lay-verify="required" value="{{$p.Images}}"></td>
                        <td><input type="text" name="product[{{$p.ID}}][name]" lay-verify="required" lay-reqtext="商品名是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input" value="{{$p.Name}}"></td>
                        <td><input type="text" name="product[{{$p.ID}}][sku]" lay-verify="required" lay-reqtext="商品sku是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input" value="{{$p.Sku}}"></td>
                        <td><input type="text" name="product[{{$p.ID}}][attribute]" lay-verify="required" lay-reqtext="商品属性是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input" value="{{$p.Attribute}}"></td>
                        <td>
                        <button class="layui-btn layui-btn-xs layui-btn-danger p-delete" data-id="{{$p.ID}}">删除</button>
                        </td>
                        </tr>
                    {{end}}
                    </table>
                </div>
            </div> 
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">收件人姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="shipping_name" value="{{.data.orderInfo.ShippingName}}" lay-verify="required" lay-reqtext="收件人姓名是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">收件人电话</label>
            <div class="layui-input-inline">
                <input type="text" name="shipping_telephone" value="{{.data.orderInfo.ShippingTelephone}}" lay-verify="required" lay-reqtext="收件人电话是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">国家</label>
            <div class="layui-input-inline" >
                <input type="text" name="shipping_country" value="{{.data.orderInfo.ShippingCountry}}" lay-verify="required" lay-reqtext="收件人国家是必填项，岂能为空？" placeholder="请输入国家" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">州/省</label>
            <div class="layui-input-inline" >
                <input type="text" name="shipping_province" value="{{.data.orderInfo.ShippingProvince}}" lay-verify="required" lay-reqtext="收件人州/省是必填项，岂能为空？" placeholder="请输入国家" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">城市</label>
            <div class="layui-input-inline" >
                <input type="text" name="shipping_city" value="{{.data.orderInfo.ShippingCity}}" lay-verify="required" lay-reqtext="收件人城市是必填项，岂能为空？" placeholder="请输入国家" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">邮政编码</label>
            <div class="layui-input-inline">
                <input type="text" name="shipping_zipcode" value="{{.data.orderInfo.ShippingZipcode}}" lay-verify="required" lay-reqtext="邮政编码是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">收件人地址</label>
            <div class="layui-input-block">
                <input type="text" name="shipping_address" value="{{.data.orderInfo.ShippingAddress}}" lay-verify="required" lay-reqtext="收件人地址是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">付款人姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="billing_name" value="{{.data.orderInfo.BillingName}}" lay-verify="required" lay-reqtext="付款人姓名是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">客户邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="order_email" value="{{.data.orderInfo.OrderEmail}}" lay-verify="required|email" lay-reqtext="客户邮箱是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">收款账号</label>
            <div class="layui-input-inline">
                <input type="text" name="payment_account" value="{{.data.orderInfo.PaymentAccount}}" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">运费</label>
            <div class="layui-input-inline">
                <input type="text" name="shipping_amount" autocomplete="off" class="layui-input" value="{{.data.orderInfo.ShippingAmount}}">
            </div>
            <label class="layui-form-label">折扣</label>
            <div class="layui-input-inline">
                <input type="text" name="discount_amount" autocomplete="off" class="layui-input" value="{{.data.orderInfo.DiscountAmount}}">
            </div>
            <label class="layui-form-label">优惠券</label>
            <div class="layui-input-inline">
                <input type="text" name="coupon_amount" autocomplete="off" class="layui-input" value="{{.data.orderInfo.CouponAmount}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">订单金额</label>
            <div class="layui-input-inline">
                <input type="text" name="order_amount" value="{{.data.orderInfo.OrderAmount}}" lay-verify="required" lay-reqtext="订单金额是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label">订单货币</label>
            <div class="layui-input-inline">
                <select name="order_currency" lay-verify="required" lay-reqtext="订单货币是必填项，岂能为空？">
                    {{range $c := .data.currency}}
                    <option value="{{$c.ID}}" {{if eq $c.ID $.data.orderInfo.OrderCurrency}}checked="" {{end}}>{{$c.Name}}</option>
                    {{end}}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">支付类型</label>
            <div class="layui-input-inline">
                <select name="payment_type" lay-verify="required" lay-reqtext="支付类型是必填项，岂能为空？">
                    {{range $pt := .data.paymentType}}
                    <option value="{{$pt.ID}}" {{if eq $pt.ID $.data.orderInfo.PaymentType}}checked="" {{end}}>{{$pt.Name}}</option>
                    {{end}}
                </select>
            </div>
            <label class="layui-form-label">支付状态</label>
            <div class="layui-input-inline">
                <select name="payment_status" lay-verify="required" lay-reqtext="支付状态是必填项，岂能为空？">
                    {{range $ps := .data.paymentStatus}}
                    <option value="{{$ps.ID}}" {{if eq $ps.ID $.data.orderInfo.PaymentStatus}}checked="" {{end}}>{{$ps.Name}}</option>
                    {{end}}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">物流方式</label>
            <div class="layui-input-inline">
                <select name="order_shipping" >
                    {{range $os := .data.orderShipping}}
                    <option value="{{$os.ID}}" {{if eq $os.ID $.data.orderInfo.OrderShipping}}checked="" {{end}}>{{$os.Name}}</option>
                    {{end}}
                </select>
            </div>
            <label class="layui-form-label">订单状态</label>
            <div class="layui-input-inline">
                <select name="order_status" lay-verify="required" lay-reqtext="订单状态是必填项，岂能为空？">
                    {{range $os := .data.orderStatus}}
                    <option value="{{$os.ID}}" {{if eq $os.ID $.data.orderInfo.OrderStatus}}checked="" {{end}}>{{$os.Name}}</option>
                    {{end}}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="form_submit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{{end}}
{{define "content_script"}}
<script>
layui.use(['form', 'layer', 'upload', 'element'], function(){
    var upload = layui.upload;
    var element = layui.element
    var uploadListIns = upload.render({
        elem: '#addProductList'
        ,elemList: $('#productList') //列表元素对象
        ,url: '/upload/image_file' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
        ,accept: 'images'
        ,multiple: false
        ,auto: true
        ,choose: function(obj){  
        var that = this;
        var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
        //读取本地文件
        obj.preview(function(index, file, result){
            var tr = $(['<tr id="upload-'+ index +'">'
            ,'<td  class="laytable-cell-space"><img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img product_image_'+index+'"><div class="layui-progress mt-10" lay-filter="progress-'+ index +'"><div class="layui-progress-bar" lay-percent=""></div></div><button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button><input type="hidden" name="product['+index+'][image]" id="product-'+index+'-image" lay-verify="required"></td>'
            ,'<td><input type="text" name="product['+index+'][name]" lay-verify="required" lay-reqtext="商品名是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input"></td>'
            ,'<td><input type="text" name="product['+index+'][sku]" lay-verify="required" lay-reqtext="商品sku是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input"></td>'
            ,'<td><input type="text" name="product['+index+'][attribute]" lay-verify="required" lay-reqtext="商品属性是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input"></td>'
            ,'<td>'
            ,'<button class="layui-btn layui-btn-xs layui-btn-danger delete">删除</button>'
            ,'</td>'
            ,'</tr>'].join(''));
            
            //单个重传
            tr.find('.demo-reload').on('click', function(){
            obj.upload(index, file);
            });
            
            //删除
            tr.find('.delete').on('click', function(){
            delete files[index]; //删除对应的文件
            tr.remove();
            uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
            });
            
            that.elemList.append(tr);
            element.render('progress'); //渲染新加的进度条组件
        });
        }
        ,done: function(res, index, upload){ //成功的回调
        var that = this;
        //if(res.code == 0){ //上传成功
            var tr = that.elemList.find('tr#upload-'+ index)
            ,tds = tr.children();
            // tds.eq(3).html(''); //清空操作
            tds.find("input#product-"+index+"-image").val(res.data.file_name)
            delete this.files[index]; //删除文件队列已经上传成功的文件
            return;
        //}
        this.error(index, upload);
        }
        ,allDone: function(obj){ //多文件上传完毕后的状态回调
        console.log(obj)
        }
        ,error: function(index, upload){ //错误回调
        var that = this;
        var tr = that.elemList.find('tr#upload-'+ index)
        ,tds = tr.children();
        tr.find('.demo-reload').removeClass('layui-hide'); //显示重传
        }
        ,progress: function(n, elem, e, index){ //注意：index 参数为 layui 2.6.6 新增
        element.progress('progress-'+ index, n + '%'); //执行进度条。n 即为返回的进度百分比
        }
    });
    $('.p-delete').click(function(e){
        e.preventDefault()
        index = $(this).data('id')
        $("#upload-"+index).remove();
        return false
    });
    // 表单提交事件
    var form = layui.form;
    form.on('submit(form_submit)', function(data){
        formData = $('.layui-form').serialize()
        var btn = $(this);
        btn.text("提交中...").attr("disabled", "disabled").addClass("layui-disabled");
        ajaxSubmit("/order/update",formData, "/order/", "POST", btn)
        return false;
    });
})
</script>
{{end}}

