{{template "base" .}}

{{define "content"}}
<div class="layui-main">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>新增用户</legend>
    </fieldset>
    
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" lay-verify="required|min:6" lay-reqtext="用户名是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" lay-verify="required|min:6" lay-reqtext="密码是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份权限</label>
            <div class="layui-input-block">
                <input type="radio" name="level" value="1" title="管理员" >
                <input type="radio" name="level" value="2" title="普通成员" checked="">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="form_submit">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{{end}}
{{define "content_script"}}
<script>
layui.use(['form', 'layer'], function(){
    // 表单提交事件
    var form = layui.form;
    form.on('submit(form_submit)', function(data){
        formData = $('.layui-form').serialize()
        var btn = $(this);
        btn.text("提交中...").attr("disabled", "disabled").addClass("layui-disabled");
        ajaxFormSubmit("/user/create",formData, "/user/list", "POST", btn)
        return false;
    });
})
</script>
{{end}}

